{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Run brew bundle to install/update packages from the Brewfile.
# i.e. brew bundle dump --force --file="${CHEZMOI_SOURCE_DIR}/Brewfile"
# The --no-upgrade flag prevents automatic upgrades. For upgrades,
# you can run brew bundle --file="${CHEZMOI_SOURCE_DIR}/Brewfile"
# manually.
brew bundle --no-upgrade --file="${CHEZMOI_SOURCE_DIR}/Brewfile" || echo "brew bundle completed with errors (some mas apps may need manual install)"
{{ end -}}
